{
  "plugins": [
    "@prettier/plugin-xml",
    "prettier-plugin-imports",
    "prettier-plugin-packagejson"
  ],
  "printWidth": 120,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "singleAttributePerLine": false,
  "importOrderParsers": [
    "typescript",
    "jsx",
    "decorators"
  ],
  "importOrder": [
    "<TYPES>",
    "<TYPES>^[.]",
    "<BUILTIN_MODULES>",
    "",
    "^sap/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[.]"
  ],
  "overrides": [
    {
      "files": [
        "*.html",
        "*.xml"
      ],
      "options": {
        "xmlSelfClosingTags": true,
        "xmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": ".env",
      "options": {
        "keySeparator": "="
      }
    }
  ]
}

