{
  "plugins": [
    "@prettier/plugin-xml",
    "prettier-plugin-imports",
    "prettier-plugin-packagejson"
  ],
  "printWidth": 120,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "singleAttributePerLine": false,
  "importOrder": ["<TYPES>", "<TYPES>^[.]", "<BUILTIN_MODULES>", "", "^sap/(.*)$", "<THIRD_PARTY_MODULES>", "^[.]"],
  "importOrderParsers": ["typescript", "jsx", "decorators"],
  "overrides": [
    {
      "files": [
        "*.html",
        "*.xml"
      ],
      "options": {
        "xmlSelfClosingTags": true,
        "xmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
